.carte {
  margin-bottom: 40px;
  padding-bottom: 15px;
}

.itemsContainer,
.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardItem {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.left {
  text-align: start;
}

.title,
.price {
  font-family: "Hind Madurai", sans-serif;
  font-size: large;
}

.title {
  color: #906427;
}

.when,
.description {
  font-family: "Lora", serif;
  font-size: smaller;
}

@media screen and (max-width: 700px) {
  .carte {
    margin-bottom: 20px;
  }
  .title,
  .price {
    font-size: small;
  }
  .description,
  .when {
    font-size: x-small;
  }
}
