.carte {
  position: relative;
  background-color: #b6ac97;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 30px;
  border: solid 1px black;
  box-shadow: 5px 5px 15px 5px rgba(144, 100, 39, 0.55);
  width: 700px;
  padding-bottom: 15px;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardItem {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10px;
}

.left {
  text-align: start;
}

.title,
.price {
  font-family: "Hind Madurai", sans-serif;
}

.title {
  font-size: large;
  color: #906427;
}

.when,
.description {
  font-family: "Lora", serif;
  font-size: smaller;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #906427;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .carte {
    width: 350px;
  }
  h2 {
    font-size: large;
  }
  h3 {
    font-size: medium;
  }
  .title,
  .price {
    font-size: small;
  }
  .description,
  .when {
    font-size: x-small;
  }
}
