header {
  width: 100vw - 2px;
  min-height: 50px;
  border: solid 2px #906427;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  height: 50px;
  float: left;
}

.right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  float: right;
}

.link {
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .right {
    width: 150px;
    flex-direction: column;
    font-size: small;
    align-items: end;
    justify-content: center;
    padding-right: 10px;
  }
  .link {
    margin-right: 5px;
    margin-bottom: 3px;
  }
}
